/* styles for vandam.ca */
html, body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Indie Flower", serif;
}  
main {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0;
    font-size: 2vw;
}
p {
    margin: 0;
    font-size: 1.1vw;
}
#parchment {
    position: relative;
    /* background-image:url("images/Parchment.png"); */
    /* background-repeat: no-repeat; */
    /* background-size:contain; */
    /* background-position: center; */
    background-color:black;
    height: auto;
    width: auto;
    /* min-height: 250px; */
    /* min-width: 250px; */
    display: inline-block;
}
#parchImg {
    max-height: 100vh;
    width: 100vw;
}
#map {
    position: absolute;
    background-color: rgba(0,0,0,0);
    /* padding: 2vh; */
    top: 6%;
    left: 22.5%;
    width: 55%;
    height: 80%;
}
#right {
    /* background-color: rgba(0,0,0,1); */
    position: absolute;
    overflow-y:auto;
    top: 38%;
    left: 83%;
    width: 14%;
    height: 35%;
    rotate: 13deg;
}
#left {
    /* background-color: yellow; */
    position: absolute;
    overflow-y:auto;
    top: 32%;
    left: 2%;
    width: 12%;
    height: 21%;
    rotate: -22.5deg;
}